bleach==4.1.0
certifi==2018.11.29
chardet==3.0.4
charset-normalizer==2.0.4
colorama==0.3.9
coverage==5.3
docutils==0.14
flake8==3.6.0
flake8-isort==2.4
flake8-polyfill==1.0.2
idna==2.8
isort==4.3.4
mando==0.6.4
mccabe==0.6.1
nose==1.3.7
packaging==21.0
pkginfo==1.5.0.1
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.10.0
pyparsing==2.4.7
radon==2.2.0
readme-renderer==24.0
rednose==1.3.0
requests==2.26.0
requests-toolbelt==0.9.1
six==1.10.0
termstyle==0.1.11
testfixtures==5.4.0
tqdm==4.31.1
twine==1.13.0
urllib3==1.26.6
webencodings==0.5.1
